.header-title {
  color: #22223b;
}

.content-header {
  color: #4a4e69;
}
.lesson {
  color: #22223b;
}
p {
  color: #22223b;
}
body {
  background: #f2e9e4;
}

section {
  background: #c9ada7;
}
.header-link {
  color: #70686f;
}
.footer {
  color: #70686f;
}
.link {
  color: #5f495c;
}
